# Config settings for rp_test

TOOLS=/root/git/tools

# PassThrough Devices
PT_PCI_DEVICE1_BUS=0xb4
PT_PCI_DEVICE1_SLOT=0x00
PT_PCI_DEVICE1_FUNCTION=0x0
PT_PCI_DEVICE2_BUS=0xb4
PT_PCI_DEVICE2_SLOT=0x00
PT_PCI_DEVICE2_FUNCTION=0x1

# Virtual function devices
VF_PCI_DEVICE1_BUS=0xb4
VF_PCI_DEVICE1_SLOT=0x00
VF_PCI_DEVICE1_FUNCTION=0x1
VF_PCI_DEVICE2_BUS=0xb4
VF_PCI_DEVICE2_SLOT=0x00
VF_PCI_DEVICE2_FUNCTION=0x2

# Private and Public networks
PRIV_NET="5.5.5.0/24"
PUB_NET="30.30.30.0/24"

# GFN_PUB_PORT_START is DNAT'd to the Loader/Private IP:GS_PORT_START
# RP_PORT_START is  the destination for the INITIATOR
GFN_PUB_PORT_START=8000
GS_PORT_START=10000
RP_PORT_START=5000

# In the Private network
LOADER=10.0.0.147
LOADER_DEV=ens2
LOADER_IP=5.5.5.5
LOADER_CMD=
LOADER_DEV_MAC=

# In the Public network.
INITIATOR=10.0.0.148
INITIATOR_DEV=ens2
INITIATOR_IP=30.30.30.20
INITIATOR_CMD=
INITIATOR_DEV_MAC=

# Use predefined VMs with PT and SRIOV to keep it simple
RPVM_PT=rp_pt
RPVM_SRIOV=rp_sriov
RPVM=$RPVM_PT

# RP host to ssh to
RP=192.168.122.103

# Private and Public legs on the RP.
RP_PRIV_LEG_IP=5.5.5.1
RP_PRIV_LEG_DEV=enp4s0
RP_PRIV_LEG_MAC=

RP_PUB_LEG_IP=30.30.30.100
RP_PUB_LEG_DEV=enp5s0
RP_PUB_LEG_MAC=

# OVS bridge information on the public and private legs
# the patch ports are used to connected the two OVS bridges.
BRPUB=brpub
BRPRIV=brpriv
RP_PRIV_PATCH_PORT=priv-patch
RP_PUB_PATCH_PORT=pub-patch

# Test details
NUM_SESSIONS=5
BW_PER_SESSION=20m
# In seconds
DURATION=30
LOG_DURATION=$((DURATION-5))
LOG_INTERVAL=1

# CPU used for the NICs
CPU_START=1
NUM_CPUS=8

# For plotting
THROUGHPUT_YRANGE=1000000000
CPU_YRANGE=100
# dumb if we can get graphics
GNUPLOT_TERMINAL=

# Initialization to get the statistics
BASE_RX_BYTES=0
BASE_TX_BYTES=0
BASE_RX_DROPPED=0
BASE_TX_DROPPED=0

# Log file location
D=`date +%b-%d-%Y`
LOGDIR=$RESULTSDIR
LOGDIR+=_$$
LOGDIR+=_$D
echo $LOGDIR
mkdir $LOGDIR
LOG=$LOGDIR/$LOG.main.log

P2KILL=""

# Test scenarios: From:
TEST_PROFILE="IP_FORWARDING_MULTI_STREAM_0_LOSS IP_FORWARDING_MULTI_STREAM_THROUGHPUT IP_FORWARDING_MULTI_STREAM_PACKET_RATE"
TESTS="linux_fwd linux_fwd_nat ovs_fwd ovs_fwd_offload ovs_fwd_nat ovs_fwd_nat_offload ovs_fwd_ct ovs_fwd_ct_offload"
NIC_MODES="pt sriov bm"
CPU_BINDINGS="dangling pinned"
CPU_AFFINITIES="4 8"

# TEST_PROFILE="IP_FORWARDING_MULTI_STREAM_0_LOSS"
# TESTS="ovs_fwd_ct"
# NIC_MODES="pt"
# CPU_BINDINGS="dangling"
# CPU_AFFINITIES="4"

# Don't run, just display the list of tests given the configured Test Scenarios.
# "yes" to just display the tests
JUST_DISPLAY_TESTS=no

# Don't run, just plot the graphs
# "yes" to just plot the results of a run
JUST_PLOT_RESULTS=no

# If either JUST_DISPLAY_TESTS or JUST_PLOT_RESULTS is set, this needs to be "yes"
# since we don't want to run the tests
DONT_RUN_TESTS=no
