# Config settings for rp_test

TOOLS=/root/git/tools/rp-test
RAND_IPS=/root/git/tools/1000ips

# PassThrough Devices
PT_PCI_DEVICE1_BUS=0xb4
PT_PCI_DEVICE1_SLOT=0x00
PT_PCI_DEVICE1_FUNCTION=0x0
PT_PCI_DEVICE2_BUS=0xb4
PT_PCI_DEVICE2_SLOT=0x00
PT_PCI_DEVICE2_FUNCTION=0x1

# Virtual function devices
VF_PCI_DEVICE1_BUS=0xb4
VF_PCI_DEVICE1_SLOT=0x00
VF_PCI_DEVICE1_FUNCTION=0x1
VF_PCI_DEVICE2_BUS=0xb4
VF_PCI_DEVICE2_SLOT=0x00
VF_PCI_DEVICE2_FUNCTION=0x2

# Private and Public networks
#PRIV_NET="5.5.5.0/24"
#PUB_NET="30.30.30.0/24"
PRIV_NET="5.5.0.0/16"
PUB_NET="30.30.0.0/16"

# GFN_PUB_PORT_START is DNAT'd to the Loader/Private IP:GS_PORT_START
# RP_PORT_START is  the destination for the INITIATOR
GFN_PUB_PORT_START=8000
GS_PORT_START=10000
RP_PORT_START=5000

# In the Private network
LOADER=10.0.0.147
LOADER_DEV=ens2
LOADER_IP=5.5.5.5

# In the Public network.
INITIATOR=10.0.0.148
INITIATOR_DEV=ens2
INITIATOR_IP=30.30.30.20

# Use predefined VMs with PT and SRIOV to keep it simple
RPVM_PT=rp_pt
#RPVM_PT=rp-1804-1804ct
#RPVM_PT=rp-1904-ct-iproute2-1
#RPVM_PT=rp_pp
#RPVM_CT=rp_ct_1125
#RPVM_CT=rp-1904-ct-clone1
#RPVM_CT=rp-1904-ct-iproute2-1
RPVM_CT=rp-1804-pp-burst
RPVM_SRIOV=rp_sriov
RPVM_CONTAINER=rp_bm
RPVM_HA=rp_ha
CONTAINER_IMAGE_ID=55f6bd012b8b

# RP host to ssh to
RP_BM=10.0.0.121

# Private and Public legs on the RP.
RP_PRIV_LEG_IP=5.5.5.2
RP_PRIV_LEG_DEV_VM=enp7s0
RP_PRIV_LEG_DEV_BM=ens4f0
RP_PRIV_LEG_DEV_HA=enp8s0
RP_PRIV_LEG_DEV=$RP_PRIV_LEG_DEV_VM
RP_PRIV_LEG_MAC=

RP_PUB_LEG_IP=30.30.30.100
RP_PUB_LEG_DEV_VM=enp8s0
RP_PUB_LEG_DEV_BM=ens4f1
RP_PUB_LEG_DEV_HA=enp9s0
RP_PUB_LEG_DEV=$RP_PUB_LEG_DEV_VM
RP_PUB_LEG_MAC=

# OVS bridge information on the public and private legs
# the patch ports are used to connected the two OVS bridges.
BRPUB=brpub
BRPRIV=brpriv
RP_PRIV_PATCH_PORT=priv-patch
RP_PUB_PATCH_PORT=pub-patch

RP_PRIV_LEG_HA_PORT=priv-bond
RP_PUB_LEG_HA_PORT=pub-bond

# Test details
# In seconds
DURATION=60
LOG_DURATION=$((DURATION-5))
LOG_INTERVAL=1
PACKET_LEN=1400

# CPU used for the NICs
CPU_START=1
NUM_CPUS=8
TOTAL_CPUS=20

# For plotting
THROUGHPUT_YRANGE=1000000000
CPU_YRANGE=100
# dumb if we can get graphics
GNUPLOT_TERMINAL=

# Initialization to get the statistics
BASE_RX_BYTES=0
BASE_TX_BYTES=0
BASE_RX_DROPPED=0
BASE_TX_DROPPED=0

# Log file location
#D=`date +%b-%d-%Y`
#LOGDIR=$RESULTSDIR
#LOGDIR+=_$$
#LOGDIR+=_$D
#LOG=$LOGDIR/main.log

# File with Test cases
TEST_RUN_FILE=rp_test.runs

P2KILL=""

# Test scenarios: From:
#TEST_PROFILE="IP_FORWARDING_MULTI_STREAM_0_LOSS IP_FORWARDING_MULTI_STREAM_THROUGHPUT IP_FORWARDING_MULTI_STREAM_PACKET_RATE"
TEST_PROFILE="IP_FORWARDING_MULTI_STREAM_0_LOSS"
#TESTS="linux_fwd linux_fwd_nat ovs_fwd ovs_fwd_offload ovs_fwd_nat ovs_fwd_nat_offload ovs_fwd_ct ovs_fwd_ct_offload"
TESTS="linux_fwd linux_fwd_nat ovs_fwd ovs_fwd_offload ovs_fwd_nat ovs_fwd_nat_offload ovs_fwd_ct"
#NIC_MODES="pt pt_multip sriov bm"
NIC_MODES="pt"
CPU_BINDINGS="dangling pinned"
CPU_AFFINITIES="4 8"

# TESTS="ovs_fwd_ct"
# NIC_MODES="pt"
# CPU_BINDINGS="dangling"
# CPU_AFFINITIES="4"

# Don't run, just display the list of tests given the configured Test Scenarios.
# "yes" to just display the tests
DISPLAY_TESTS=no

# Don't run, just plot the graphs
# "yes" to just plot the results of a run
PLOT_RESULTS=no

# If either JUST_DISPLAY_TESTS or JUST_PLOT_RESULTS is set, this needs to be "yes"
# since we don't want to run the tests
RUN_TESTS=yes
